<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodoApp</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="src/apple.PNG">
  <link rel="apple-touch-icon" href="src/apple.PNG">
  <meta property="og:title" content="todoApp" />
  <meta property="og:description" content="todoApp" />
  <meta property="og:url" content="https://phihash.github.io/todoAppByVue/" />
  <meta property="og:image" content="src/ogp.PNG" />
</head>
<body>
  <div id="app" class="app">
    <h2>Todo</h2>
    <form v-on:submit.prevent>
      <input type="text" v-model="newItem">
      <button v-on:click="addItem">Add</button>
    </form>
    <ul>
      <li v-for="(todo,index) in todos" v-cloak>
      <input type="checkbox" v-model="todo.isDone">
        <span v-bind:class="{done: todo.isDone }" >
          {{todo.item}}
        </span>
        <button v-on:click="deleteItem(index)">Delete</button>
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="js/main.js"></script>
</body>
</html>
